* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    display: none;
    font-weight: 600;
    /* color: rgb(116, 116, 116); */
    color: rgb(67, 67, 67);
    text-align: center;
    /* background-color: rgb(221, 221, 221); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-weight: 600;
    color: rgb(81, 81, 81);
}

.container {
    display: flex;
    /* display: none; */
    justify-content: space-around;
    height: 100%;
    font-weight: 500;
    color: rgb(75, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
}

.form-group {
    margin-top: .7rem;
}

input {
    /* width: 25rem; */
    width: 35vw;
    height: 2.5rem;
    margin-top: .5rem;
    font-size: 1rem;
    padding-left: .4rem;
    border-radius: .3rem;
    /* border: none; */
    border-color: rgb(187, 187, 187);
    border-top-color: rgb(243, 243, 243);
    /* border-top: none; */
    /* border-right: none;
    border-left: none; */
    /* background-color: rgb(239, 237, 237); */
    /* border-color: rgb(204, 204, 204); */

    font-weight: 400;
    color: rgb(75, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    width: 35vw;
    height: 5rem;
    margin-top: .5rem;
    font-size: 1rem;
    padding-left: .4rem;
    border-radius: .3rem;
    border-color: rgb(187, 187, 187);
    font-weight: 400;
    color: rgb(75, 75, 75);
    /* border: none; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#impLink {
    font-weight: 700;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

.generateResume {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* display: none; */

}

.generateResumeBtn {
    padding: .8rem;
    border-radius: .8rem;
    border: none;
    background-color: rgb(54, 133, 252);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: medium;
}

.addBtn {
    padding: .4rem;
    width: 3.5rem;
    border-radius: .3rem;
    background-color: rgb(54, 133, 252);
    border: none;
    /* border-color: grey; */
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: .5rem;
}

.generateResumeBtn:hover,
.addBtn:hover {
    background-color: rgb(78, 149, 255);
    cursor: pointer;
}




/* resume template styling */
.resumeTemplateContainer {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    display: none;
}

.left-component {
    border: 1px solid rgb(34, 200, 205);
    width: 25vw;
    text-align: center;
}

.right-component {
    border: 1px solid rgb(33, 210, 17);
    width: 60vw;
}

#profile {
    width: 10rem;
}

.about {
    margin-top: .5rem;
}

.links {
    margin-top: 2rem;
}

.name {
    text-align: center;
}